/**** Basic reset ****/

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 16px;
  color: #5C6269;
}


/******* Layout *******/

.wrapper {
  width: 1170px;
  margin: 0 auto;
}

.container {
  display: flex;
  justify-content: center;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

.button {
  width: 113px;
  height: 25px;
  margin-bottom: 5px;
  padding-top: 5px;
  color: #8E9297;
  border: 2px solid #C0C4C8;
  border-radius: 5px;
  text-align: center;
  
  &:hover {
    border-color: #2883d8;
    color: #2883d8;
  }
}


/** Nav **/

nav {
  height: 68px;
  width: 1350px;
  background-color: #1B2126;

  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
  }
}

#logo {
  cursor: pointer;
}

ul#menu li {
  display: inline-block;
  margin-right: 45px;

  a {
    color: #9EA1A5;

    &:hover {
      color: #C0C4C8;
    }
  }
}

#searchbar {
  height: 38px;
  width: 320px;
  padding-left: 50px;
  background: url("/img/searchicon.png") no-repeat scroll 15px 10px;
  background-color: #5C6269;
  color: black;
  border: none;
  border-radius: 5px;
}

::-webkit-input-placeholder {
  color: black;
}


/** Sidebar **/

aside {
  width: 21%;
  padding-top: 21px;
  border-right: 1px solid #9EA1A5;
  padding-right: 31px;

  .submenu {
    display: flex;
    justify-content: space-between;

    .filter p img {
      margin-right: 34px;
      vertical-align: middle;
    }

    .delete {
      color: #F3644F;
    }
  }
  #filtermenu {
    color: #1B2126;
    font-weight: 600;

    p {
      margin-top: 30px;
      margin-bottom: 30px;
    }
  }
}

input[type=range] {
  -webkit-appearance: none;
  width: 240px;
  height: 2px;
  background: -webkit-linear-gradient(0deg, #2883D8 0%, #3CB878 100%);
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 17px;
  height: 10px;
  border: 1px solid #3CB878;
  border-radius: 25px;
  background-color: #3CB878;
  cursor: pointer;
}

#categories {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}


/** Section **/

section {
  width: 79%;
  padding-top: 21px;
  padding-left: 31px;

  .submenu {
    display: flex;
    justify-content: space-between;
  }

  #covermenu {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 23px;

    .cover {
      width: 269px;
      height: 403px;
      margin-bottom: 27px;

      &:hover {
        opacity: 0.5;
        cursor: pointer;
      }

      &:last-of-type {
        margin-left: 30px;
      }
    }

    &:after {
      content: "";
      flex: auto;
    }
  }
}

/** Modal **/
.modal-background {
    display: block;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-window {
    background-color: #fefefe;
    margin-left: auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 5px;
    height: 100%;
    width: 80%;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-close {
  color: #F3644F;
}

.modal-title {
  color: #1B2126;
  font-size: 24px;
  margin-bottom: 20px;

  span {
    color: #C0C4C8;
    font-size: 16px;
  }
}

.modal-subtitle {
  color: #1B2126;
  font-size: 20px;
  margin-bottom: 10px;
}

.modal-body {
  display: flex;

  img {
    margin-right: 10px;
  }
}

.modal-features {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.modal-genre {
  background-color: #EEEEEE;
  color: #1B2126;
  display: inline;
  border: 1px solid #EEEEEE;
  border-radius: 5px;
  margin-right: 5px;
  padding: 2px;
}

.modal-description {
  line-height: 2em;
}

.modal-trailer {
  margin-top: 5px;
}
