<!DOCTYPE html>
<html lang="en" ng-app="filmboard">

<head>
  <title></title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Nunito+Sans" rel="stylesheet">
  <link href="css/normalize.css" rel="stylesheet">
</head>

<body ng-controller="HomeController as home">
  <nav>
    <div class="wrapper">
      <img id="logo" src="img/logo.png" alt="logo" ng-click="home.loadPopular()">
      <ul id="menu">
        <li><a href="#" ng-click="home.loadPopular()">Descubrir</a></li>
        <li><a href="#" ng-click="home.loadRated()">Mejor valoradas</a></li>
        <li><a href="#" ng-click="home.loadLatest()">Estrenos</a></li>
        <li><a href="#" ng-click="home.loadPopular()">Populares</a></li>
      </ul>
      <input type="text" id="searchbar" ng-model="keyword" ng-keypress="$event.keyCode == 13 && home.search(keyword)" placeholder="Encuentra tu película favorita">
    </div>
  </nav>
  <div class="container wrapper">
    <!-- Sidebar -->
    <aside>
      <div class="submenu">
        <div class="filter">
          <p><img src="img/filtericon.png" alt="filter">Filtrar</p>
        </div>
        <div class="delete">
          <p>Borrar</p>
        </div>
      </div>
      <div id="filtermenu">
        <div class="filteritem">
          <p>Año</p>
          <input type="range" min="1979" max="2015" />
        </div>
        <div class="filteritem">
          <p>Valoración IMDB</p>
          <input type="range" min="0" max="5" />
        </div>
        <div class="filteritem">
          <p>Rotten Tomatoes - CS</p>
          <input type="range" min="0" max="50" />
        </div>
        <div class="filteritem">
          <p>Rotten Tomatoes - AS</p>
          <input type="range" min="0" max="50" />
        </div>
        <div class="filteritem">
          <p>Géneros</p>
          <div id="categories">
            <a href="#" class="button" ng-repeat="genre in home.genres track by $index">{{genre.name}}</a>
          </div>
        </div>
      </div>
    </aside>
    <!-- Covers section -->
    <section>
      <div class="submenu">
        <p>Mostrando <strong>{{home.covers.length}}</strong> películas encontradas</p>
        <p>Ordenar &#x25BC;</p>
      </div>
      <div id="covermenu">
        <div class="cover" ng-repeat="cover in home.covers track by $index">
          <img ng-src="{{cover}}" ng-click="home.openModal($index)" width="270px" height="400">
        </div>
      </div>
    </section>
  </div>

  <!-- Modal -->
  <div ng-show="home.toggleModal == true" ng-include="'src/home/modal.html'"></div>

  <!-- Scripts -->
  <script src="http://localhost:8080/public/bundle.js"></script>
</body>

</html>
